
.top-section{
    width:60%;
    position: relative;
    left: 20%;
    text-align:center;
}
.thumb{
    
    width:100%;
    position:relative;

}

.gallery{
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 75%;
}

.tab-section{
    margin:20px;
    width:60%;
    position: absolute;
    left: 19%;
    display: flex;
    justify-content: left;
    border: 0.1px solid #9d9d9c6f;
}

.tab-section> h1{
        text-align: left;
        font: normal normal 600 50px/46px Poppins;
        letter-spacing: 0px;
        color: #192F60;
        opacity: 1;
        margin:5px 0;
}

.tab-section> p{

}