@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,100&display=swap");

.container-head {
    height: 100px;
    background: #ce0505 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .app-text{
    font: 45px/50px Poppins;
    color:white;
  }
  .logo {
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: #ffffff;
    text-align: center;
    font:  33px/50px Poppins;
    color: #eb2929;
    margin: 20px;
    border-radius: 50%;
  }

  .user-account{
    margin: 15px 30px;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .user-account > button{
    height:40px;
    width:max-content;
    text-align: left;
    font: 16px/25px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.8;
    background-color: transparent;
    border-style: none;
    padding: 0 20px;
  }

  #signup{
    border:1px solid #FFFFFF;
  }