@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,100&display=swap");

.container-head {
  height: 70px;
  width: 90%;
  position: relative;
  left: 62px;
  background: #eca7a7 0% 0% no-repeat padding-box;
  opacity: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  }
  .app-text{
    font: 45px/50px Poppins;
    color:white;
  }
  .logo {
    display: inline-block;
    height: 75px;
    width: 75px;
    background-color: white;
    border-radius: 50%;
    font: 50px Poppins;
    color: #EB2929;
    opacity: 1;
    justify-items: left;
  }

  .user-account{
    margin: 15px 30px;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
  }
  .user-account > button{
    height:40px;
    width:max-content;
    text-align: left;
    font: 16px/25px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.8;
    background-color: transparent;
    border-style: none;
    padding: 0 20px;
  }

  #signup{
    border:1px solid #FFFFFF;
  }