.quickSearch-menu{
    display:grid;
    grid-template-columns: repeat(auto-fill,360px);
    grid-gap: 20px; 
    justify-content: start;
    box-sizing: content-box;
 }
 
 .menu-list{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 15px #00000029;
    opacity: 1;
    
 }
 .menu-list>img{
    height: 120px; 
    width: 160px;
 }
 
 .menu-list-detail > h3{
   text-align: left;
   font: normal normal 600 18px/27px Poppins;
   letter-spacing: 0px;
   color: #192F60;
   opacity: 1;
 }
 
 .menu-list-detail > p{
   text-align: left;
   font: normal normal normal 14px/21px Poppins;
   letter-spacing: 0px;
   color: #8C96AB;
   opacity: 1;
 }
 
 link{
   text-decoration: none;
 }