.container-detail{
    margin:10px 50px;
  }
 
  .container-detail >h2{
 
     text-align: left;
     font: normal normal bold 30px/46px Poppins;
     letter-spacing: 0px;
     color: #7a9be4;
     opacity: 1;
  }
 
  .container-detail >p{
     
     text-align: left;
     font: normal normal normal 18px/27px Poppins;
     letter-spacing: 0px;
     color: #8C96AB;
     opacity: 1;
  }
 
 